<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>pewpog</title>
  </head>
  <body>
    <h1>ResestPassword</h1>
    <!-- action="/pewpog/auth/reset-password?token=<%=token%>" method="post" -->
    <form onsubmit="event.preventDefault(); handleSubmit();">
      <input
        type="password"
        id="password"
        name="password"
        placeholder="new password"
      />
      <input type="submit" value="save" />
      <div>
        <span id="err"> </span>
      </div>
    </form>
  </body>
  <script>
    const token = "<%=token%>";
    const handleSubmit = async () => {
      const password = document.getElementById("password");
      const err = document.getElementById("err");
      console.log("====================================");
      console.log(password.value);
      console.log("====================================");
      // e.preventDefault();
      fetch(`/pewpog/auth/reset-password?token=${token}`, {
        method: "POST",
        headers: {
          Accept: "application/json, text/plain, */*",
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          password: password.value,
        }),
      })
        .then((res) => res.json())
        .then((data) => {
          console.log("====================================");
          console.log(data);
          if (data.succes) {
            document.body.innerHTML = "<h1>password successfully changed<h1/>";
          } else if (data.code == 400) {
            err.innerText = JSON.parse(data["message"])["password"];
          } else {
            err.innerText = data["message"];
          }
        })
        .catch((e) => {
          console.log("====================================");
          console.log(e);
          console.log("====================================");
        });
    };
  </script>
</html>
